
.custom-top-menu {
  min-height: 65px;
}

.custom-row-header-personal-account{
  padding-top: 75px;
  min-height: 125px;

  a.nav-link {
    color: $white;
  }
}

.custom-row-header {
  padding-top: 65px;
  min-height: 265px;
}

.logo-color {
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.3));
}

.custom-site-title-1 {
  font-size: 18px;
}

.custom-site-title-2 {
  font-size: 24px;
}

.custom-site-title-3 {
  font-size: 14px;
}

.contact-number {
  font-size: 20px;
}

.back-call a{
  font-size: 14px;
  color: $white;
  text-decoration: underline;
}

.social-network a {
  color: $white;
}

footer {
  font-size: 14px;
  color: $white;
}

.custom-row-footer {
  min-height: 150px;
}

.feedback-footer a {
  color: $white;
  text-decoration: underline;
}

.custom-link-list-footer a{
  color: $white;
  text-decoration: underline;
}

.custom-replenishment-link-footer a{
  color: $white;
  text-decoration: underline;
}

.custom-payment-systems-footer {
  color: $white;

  a {
    color: $white;
    text-decoration: underline;
  }
}

#leftSidebarMenu {
  a {
    display: block;
    padding: 5px 0;
    color: $black;
  }

  button {
    color: $black;
  }

  i {
    font-size: .5em;
  }

  .card-header {
    padding-top: .6rem;
    padding-bottom: .6rem;
  }

  .card-body {
    padding-top: .8rem;
    padding-bottom: .8rem;
  }

}
