
// Custom Bootstrap (step 0)

$mint-1: #83c3bc;
$mint-2: #badad6;
$purple-1: #9169c2;
$purple-2: #eaddfb;
$blue-1: #3fb3dc;
$blue-2: #cbeffd;
$green-1: #43baa7;
$green-2: #c6ebe4;

$custom-grey: #e2e2e2;

$colors: (
  "mint-1": $mint-1,
  "mint-2": $mint-2,
  "purple-1": $purple-1,
  "purple-2": $purple-2,
  "blue-1": $blue-1,
  "blue-2": $blue-2,
  "green-1": $green-1,
  "green-2": $green-2,
  "custom-grey": $custom-grey
);

$unauthorized-user-primary: $mint-1;
$unauthorized-user-secondary: $mint-2;
$parent-primary: $purple-1;
$parent-secondary: $purple-2;
$educator-primary: $blue-1;
$educator-secondary: $blue-2;
$child-primary: $green-1;
$child-secondary: $green-2;

$theme-colors: (
  "unauthorized-user-primary": $unauthorized-user-primary,
  "unauthorized-user-secondary": $unauthorized-user-secondary,
  "parent-primary": $parent-primary,
  "parent-secondary": $parent-secondary,
  "educator-primary": $educator-primary,
  "educator-secondary": $educator-secondary,
  "child-primary": $child-primary,
  "child-secondary": $child-secondary,
  "custom-grey": $custom-grey
);

$breadcrumb-divider: quote(">");

$current-user-color-primary: 'unauthorized-user' !default;

@if ($current-user-group == 'unauthorized-user') {
  $current-user-color-primary: 'unauthorized-user-primary';
  $current-user-color-secondary: 'unauthorized-user-secondary';
}

@if ($current-user-group == 'parent') {
  $current-user-color-primary: 'parent-primary';
  $current-user-color-secondary: 'parent-secondary';
}

@if ($current-user-group == 'educator') {
  $current-user-color-primary: 'educator-primary';
  $current-user-color-secondary: 'educator-secondary';
}

@if ($current-user-group == 'child') {
  $current-user-color-primary: 'child-primary';
  $current-user-color-secondary: 'child-secondary';
}

// Custom Bootstrap (step 1)
$enable-deprecation-messages: true;

/* ************************************ */
/* Option A: Include all of Bootstrap   */
/* ************************************ */

/* @import "~bootstrap/scss/bootstrap"; */

/* ************************************** */
/* Option B: Include parts of Bootstrap   */
/* ************************************** */

// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Custom Bootstrap (step 2)
$navbar-dark-color:                 rgba($white, .8);
$navbar-dark-hover-color:           rgba($white, .9);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .7);
$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color:  rgba($white, .6);

$nav-pills-link-active-bg: #ffffff;

// Optional
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

// Custom Bootstrap (step 3)

.nav-pills {

  .nav-link {
    color: $black;
    background-color: $white;
    margin-top: 0.2rem;
    padding: 1rem 1rem;
    text-align: center;
  }

  .nav-link.active,
  .show > .nav-link {
    color: $white;
    background-color: map-get($theme-colors, $current-user-color-primary);
  }
}

// FontAwesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

